*{
    border: 0;
    font-family: 'Raleway';
    color: white;
    cursor: none;

    user-select: none; /* Disable selection on modern browsers */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For IE */
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100vw;
}


input:-webkit-autofill,
textarea:-webkit-autofill {
  background-color: transparent !important; /* Transparent to blend with the default background */
  color: white !important; /* Ensure text remains visible */
 
  transition: background-color 5000s ease-in-out 0s; /* Prevent default browser style */
  -webkit-text-fill-color: white !important; /* Ensures the text color inside autofill is applied */
}


body{
    overflow-x: hidden;
    
}

.leifa{
    font-family: "Leifa";
}

.cursor {
    color: #f2f4f7;
    animation: blink 1s linear infinite;
  }

  .cursor-black {
    color: #000000;
    animation: blink 1s linear infinite;
  }

  @keyframes blink {
    0% {
      opacity: 100%;
    }
    50% {
      opacity: 0%;
    }
  }

  /* Style for the scrollbar */
::-webkit-scrollbar {
    width: 12px;  /* Width of the vertical scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */
}

/* Style for the track (background) of the scrollbar */
::-webkit-scrollbar-track {
    background: #000000;  /* Light background color */
    border-radius: 10px;
}

/* Style for the thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #888;  /* Grey color */
    border-radius: 10px;
}

/* Style for the thumb when hovered */
::-webkit-scrollbar-thumb:hover {
    background: #555;  /* Darker color when hovered */
}

/* Optional: Style for the scrollbar corner */
::-webkit-scrollbar-corner {
    background: transparent;
}


.overlay {
    position: absolute; /* Keeps it positioned relative to the nearest positioned ancestor */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* Ensures the overlay is above other content */
    clip-path: circle(
      15px at var(--x, 50%) var(--y, 50%)
    ); /* Custom animation for clipping */
    transition: clip-path 0.1s ease;
    pointer-events: none; /* Prevents blocking mouse events */
  }

  .overlay.active {
    clip-path: circle(80px at var(--x, 50%) var(--y, 50%));

  }

.border-opacity-20 {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .border-opacity-black-20 {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

    /* Animation for content reveal */
    .hidden-content {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.5s ease, opacity 0.3s ease;
      }
      .visible-content {
        max-height: 1000px; /* Adjust this as needed */
        opacity: 1;
      }

      .mob{
        display: none;
      }

      .noOverlay{
        display: none;
      }

      .mob.active{
        display: block;
      }


      .wave-group {
        position: relative;
      }
      
      .wave-group .input {
        font-size: 16px;
        padding: 10px 5px 10px 5px;
        display: block;
        width: 200px;
        border: none;
        border-bottom: 1px solid #515151;
        background: transparent;
      }
      
      
      .wave-group .input:focus {
        outline: none;
      }
      
      .wave-group .label {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: -3px;
        display: flex;
      }
      
      .wave-group .label-char {
        transition: 0.2s ease all;
        transition-delay: calc(var(--index) * .05s);
      }
      
      .wave-group .input:focus ~ label .label-char,
      .wave-group .input:valid ~ label .label-char {
        transform: translateY(-20px);
        font-size: 14px;
        color: #e0e6ff;
      }
      
      .wave-group .bar {
        position: relative;
        display: block;
        width: 200px;
      }
      
      .wave-group .bar:before,.wave-group .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #e0e6ff;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
      }
      
      .wave-group .bar:before {
        left: 50%;
      }
      
      .wave-group .bar:after {
        right: 50%;
      }
      
      .wave-group .input:focus ~ .bar:before,
      .wave-group .input:focus ~ .bar:after {
        width: 50%;
      }
      
    


      .outer {
        width: 300px;
        height: 400px;
        border-radius: 10px;
        padding: 1px;
        
        position: relative;
      }
      
      .dot {
        width: 3px;
        aspect-ratio: 1;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 0 10px #ffffff;
        border-radius: 100px;
        z-index: 2;
        right: 10%;
        top: 10%;
        animation: moveDot 6s linear infinite;
      }

      .dot-black {
        width: 3px;
        aspect-ratio: 1;
        position: absolute;
        background-color: #000000;
        box-shadow: 0 0 10px #060000;
        border-radius: 100px;
        z-index: 2;
        right: 10%;
        top: 10%;
        animation: moveDot 6s linear infinite;
      }
      
      
      @keyframes moveDot {
        0%,
        100% {
          top: 0%;
          right: 0%;
        }
        25% {
          top: 0%;
          right: calc(100% - 2px);
        }
        50% {
          top: calc(100%);
          right: calc(100% - 2px );
        }
        75% {
          top: calc(100% );
          right: 0%;
        }
      }
      
      .card {
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 9px;
        
        background-size: 20px 20px;
        background: radial-gradient(circle 280px at 0% 0%, #1e1e1e, #0B0B0B);
        display: flex;
        align-items: start;
        justify-content: start;
        position: relative;
        flex-direction: column;

      }
  
      .card-black {
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 9px;
        
        background-size: 20px 20px;
        background: radial-gradient(circle 280px at 0% 0%, #ebe8e8, #E7F9FF);
        display: flex;
        align-items: start;
        justify-content: start;
        position: relative;
        flex-direction: column;

      }





      .nav-optn-black, .nav-optn-white {
   
        position: relative;
        border: 2px solid transparent;
        transition: border-color 0.3s ease;
      }
  
      .nav-optn-black::after, .nav-optn-white::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        transition: width 0.3s ease;
      }
  
      /* Underline color based on data-index */
      .nav-optn-black::after{
        background-color: wheat;
      }
  
       .nav-optn-white::after {
        background-color: black;
      }
  
      /* Underline active on mouseenter */
      .nav-optn-black.hover::after, .nav-optn-white.hover::after {
        width: 100%;
        left: 0;
      }
  
  
      
      /* Styles for the notification popup */
      .notification-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 100000;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .notification {
        display: none;
        padding: 15px 20px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        animation: fade-in-out 3s forwards;
      }

      .notification.success {
        background-color: #d1e7dd;
        color: #0f5132;
        border: 1px solid #badbcc;
      }

      .notification.error {
        background-color: #f8d7da;
        color: #842029;
        border: 1px solid #f5c2c7;
      }



      .notify {
        position: fixed;
        bottom: 20px;
        padding: 15px 20px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #d1e7dd;
        color: #0f5132;
        border: 1px solid #badbcc;
        display: none;
        opacity: 0;
        animation: fade-in-out 3s forwards;
      }
  
      .notify.error {
        background-color: #f8d7da;
        color: #842029;
        border: 1px solid #f5c2c7;
      }


      @keyframes fade-in-out {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        10%,
        90% {
          opacity: 1;
          transform: translateY(0);
        }
        100% {
          opacity: 0;
          transform: translateY(20px);
        }
      }